nav {
	button {
		border: none;
		background-color: var(--bkg-minor);
		margin-top: -100px;

		.navbar-toggler-icon {
			display: block;
			width: 2em;
			height: 3px;
			content: "";
			background: no-repeat center center;
			background-size: 100% 100%;
			background-color: var(--text-major);
			margin: 5px auto;
		}

		@include screen-width('medium') {
			display: none;
		}
	}

	ul#primary-nav {
		display: none;
		margin-top: -37px;

		@include screen-width('medium') {
			display: flex;
			align-items: center;
			margin: 0;
			padding: 0;
		}

		li {
			line-height: 35px;
			padding: 3px;
			white-space: nowrap;
			// border-bottom: 1px solid var(--border-major);

			@include screen-width('medium') {
				flex-grow: 1;
				height: 35px;
				margin-left: 6px;
				padding: 0 2px 0 2px;
				border-right: 1px solid var(--border-major);
				border-bottom: none;

				&:last-child {
					border: none;
					margin-top: 4px;
				}

				a#dark-mode-button {
					margin-left: 10px;
				}
			}
		}

		li.menuactive a {
			text-decoration: underline;
		}

		li.menuparent ul {
			display: flex;
			flex-direction: column;
			background-color: var(--bkg-minor);

			li {
				flex-grow: 1;
				border-bottom: none;
			}

			@include screen-width('medium') {
				display: none;
				position: absolute;
				z-index: 1;

				li {
					position: relative;
					left: -39px;
					border: none;
				}
			}
		}

		li.menuparent:hover ul, 
		li.menuparent:focus ul {
			display: block;
		}
	}

	ul {
		list-style: none;
	}

	li {
		color: var(--text-link);

		a {
			font-size: 1.1rem;
			font-weight: bold;
		}

	}

	li a:link,
	li a:visited {
		color: var(--text-link);
		text-decoration: none;
	}

	li:hover {
		text-decoration: underline;
	}
}
